@model ShoppingList.Models.Data.Models.ShopList

@{
    ViewData["Title"] = "Details";
}

<h3>Shopping List Name: @Html.DisplayFor(model => model.Name)</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <hr />
    @foreach (var category in Model.Categories)
    {
        <div class="container-fluid"><h5>@category.Name <a asp-action="AddProduct" class="btn btn-light" asp-route-shopListId="@Model?.Id" asp-route-categoryId="@category.Id">Add Product</a></h5></div>
        <ul>
            @foreach (var x in Model.ListProducts.Where(x => x.Product.CategoryId == category.Id))
            {
                <li>
                    @*@x.Product.Name*@
                    <a asp-controller="ShoppingList" asp-action="SaveList" class="@(x.IsBought ? "btn btn-outline-success glyphicon glyphicon-ok" : "btn btn-outline-secondaryt")" asp-route-isBought="@x.IsBought" asp-route-listProduct="@x.Id" asp-route-productCategoryId="@Model.Id">@x.Product.Name @(x.IsBought ? " ✅  Bought" : "")</a>
                </li>

            }
        </ul>
    }
</div>
<div>
    <a asp-action="AddCategory" class="btn btn-light" asp-route-shopListId="@Model?.Id">Add Category</a> |
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</div>
